{{ template "base" }}
{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1 class="mt-5">
        Search for Availability
      </h1>
      <form action="/reservation" method="get" class="needs-validation" novalidate>
        <div class="row" id="reservation-dates">
          <div class="col">
            <input required class="form-control" type="text" name="start" placeholder="arrival">
          </div>
          <div class="col">
            <input required class="form-control" type="text" name="end" placeholder="departure">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p id="myParagraph">This is a paragraph</p>
    </div>
  </div>
</div>
<div class="row my-footer">
  <div class="col">
    left
  </div>
  <div class="col">
    middle
  </div>
  <div class="col">
    right
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
      format: "yyyy-mm-dd",
    });
    notify("Please select your arrival and departure dates", "info");
  });
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
  function notify(msg,msgType) {
    notie.alert({
      type: msgType,
      text: msg,
    })
  }
</script>
{{ end }}