{{ template "base" .}}
{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1 class="mt-5">Search for Availability</h1>
      <form action="/search-availability" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
        <div class="row" id="reservation-dates">
          <div class="col">
            <input required class="form-control" type="text" name="start" placeholder="arrival" />
          </div>
          <div class="col">
            <input required class="form-control" type="text" name="end" placeholder="departure" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search Availability</button>
      </form>
    </div>
  </div>
</div>
{{ end }}
{{ define "js" }}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elem = document.getElementById("reservation-dates");
    const rangepicker = new DateRangePicker(elem, {
      format: "yyyy-mm-dd",
    });
  });
</script>
{{ end }}